.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  margin-left: 15px;
}

.checkout__text {
  margin-right: 15px;
  margin-top: 10px;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.checkout__left {
  width: 100%;
}
